### Multiple Linear Regression

### Import the librarays

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## importing the data

In [4]:
data=pd.read_csv('~/documents/50_Startups.csv')

In [5]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

### here the profit is the dependent variable

### Divide the data into x and y

In [12]:
x = data.iloc[:, :-1]

In [13]:
x.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [14]:
y=data.iloc[:,-1]

In [16]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

### since the state column is having categorical data we need to use one hot encoding

In [17]:
states=pd.get_dummies(x['State'],drop_first=True)

In [19]:
states.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

### now drop the state column and concat the new state column

In [20]:
x=x.drop("State",axis=1)

In [22]:
x.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

### concat the dummy variables

In [29]:
x=pd.concat([x,states],axis=1)

In [31]:
x.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

### Splitting the dataset into train and test

In [33]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [34]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train, y_train)

/Users/abhilashavadhanula/opt/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### predicting the test results

In [35]:
y_pred=regressor.predict(x_test)

In [36]:
y_pred

array([104282.76472172, 132536.88499212, 133910.85007766,  72584.77489417,
       179920.9276189 , 114549.31079234,  66444.43261346,  98404.96840122,
       114499.82808602, 169367.50639895,  96522.6253998 ,  88040.6718287 ,
       110949.99405525,  90419.1897851 , 128020.46250064])

#### finding the R2 value 
- The r2 ranges from 0 to 1 , the more r2 is nearer to 1 then the model is said to be good model

In [40]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [41]:
score

0.9358680970046241